<!DOCTYPE html>
<html lang="en" class="h-screen">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <link phx-track-static rel="icon" type="image/png" href="/images/favicon-96x96.png" sizes="96x96" />
    <link phx-track-static rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
    <link phx-track-static rel="shortcut icon" href="/favicon.ico" />
    <link phx-track-static rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Disposocial" />
    <link rel="manifest" href="/site.webmanifest" />
    <.live_title default="Disposocial" suffix=" · Disposocial">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script>
    <script>
      (() => {
        const setTheme = (theme) => {
          if (theme === "system") {
            localStorage.removeItem("phx:theme");
            document.documentElement.removeAttribute("data-theme");
          } else {
            localStorage.setItem("phx:theme", theme);
            document.documentElement.setAttribute("data-theme", theme);
          }
        };
        if (!document.documentElement.hasAttribute("data-theme")) {
          setTheme(localStorage.getItem("phx:theme") || "system");
        }
        window.addEventListener("storage", (e) => e.key === "phx:theme" && setTheme(e.newValue || "system"));
        window.addEventListener("phx:set-theme", ({ detail: { theme } }) => setTheme(theme));
      })();
    </script>
  </head>
  <body class="h-full flex flex-col bg-base-100 text-base-content">
    {@inner_content}
  </body>
</html>
